
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1469007927'); /* IE9*/
  src: url('iconfont.eot?t=1469007927#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1469007927') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1469007927') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1469007927#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-yen:before { content: "\e8a4"; }
.icon-youtubeplay:before { content: "\e8a5"; }
.icon-wrench:before { content: "\e89b"; }
.icon-windows:before { content: "\e898"; }
.icon-wifi:before { content: "\e896"; }
.icon-wheelchair:before { content: "\e895"; }
.icon-volumedown:before { content: "\e88d"; }
.icon-volumeoff:before { content: "\e88e"; }
.icon-volumeup:before { content: "\e88f"; }
.icon-warning:before { content: "\e890"; }
.icon-wechat:before { content: "\e891"; }
.icon-weibo:before { content: "\e892"; }
.icon-whatsapp:before { content: "\e894"; }
.icon-user:before { content: "\e882"; }
.icon-tv:before { content: "\e86f"; }
.icon-videocamera:before { content: "\e888"; }
.icon-usersecret:before { content: "\e880"; }
.icon-unlockalt:before { content: "\e878"; }
.icon-twittersquare:before { content: "\e871"; }
.icon-twitch:before { content: "\e870"; }
.icon-trash:before { content: "\e864"; }
.icon-toggleon:before { content: "\e85c"; }
.icon-toggleoff:before { content: "\e85b"; }
.icon-thumbsoup:before { content: "\e852"; }
.icon-thumbsodown:before { content: "\e851"; }
.icon-thumbtack:before { content: "\e84f"; }
.icon-thlarge:before { content: "\e84c"; }
.icon-thlist:before { content: "\e84d"; }
.icon-timescircle:before { content: "\e856"; }
.icon-tag:before { content: "\e843"; }
.icon-staro:before { content: "\e82a"; }
.icon-star:before { content: "\e82b"; }
.icon-starhalf:before { content: "\e829"; }
.icon-starhalfo:before { content: "\e828"; }
.icon-spinner:before { content: "\e81f"; }
.icon-send:before { content: "\e7f7"; }
.icon-search:before { content: "\e7f4"; }
.icon-rotateright:before { content: "\e7e7"; }
.icon-rotateleft:before { content: "\e7e6"; }
.icon-refresh:before { content: "\e7da"; }
.icon-qq:before { content: "\e7cd"; }
.icon-phone:before { content: "\e7b7"; }
.icon-phonesquare:before { content: "\e7b6"; }
.icon-pencil:before { content: "\e7b4"; }
.icon-questioncircle:before { content: "\e7cf"; }
.icon-qrcode:before { content: "\e7ce"; }
.icon-photo:before { content: "\e7b8"; }
.icon-paw:before { content: "\e7b0"; }
.icon-mobilephone:before { content: "\e791"; }
.icon-mapo:before { content: "\e77b"; }
.icon-mapmarker:before { content: "\e77a"; }
.icon-instagram:before { content: "\e74a"; }
.icon-home:before { content: "\e734"; }
.icon-globe:before { content: "\e715"; }
.icon-flag:before { content: "\e6f2"; }
.icon-eye:before { content: "\e6e0"; }
.icon-envelope:before { content: "\e6d3"; }
.icon-ellipsisv:before { content: "\e6cf"; }
.icon-diamond:before { content: "\e6c3"; }
.icon-commentingo:before { content: "\e6a8"; }
.icon-commento:before { content: "\e6a6"; }
.icon-commentso:before { content: "\e6aa"; }
.icon-chevrondown:before { content: "\e68c"; }
.icon-checkcircle:before { content: "\e684"; }
.icon-car:before { content: "\e66c"; }
.icon-caretdown:before { content: "\e66d"; }
.icon-caretup:before { content: "\e674"; }
.icon-calendar:before { content: "\e669"; }
.icon-cameraretro:before { content: "\e66a"; }
.icon-cab:before { content: "\e662"; }
.icon-buildingo:before { content: "\e65b"; }
.icon-bookmarko:before { content: "\e657"; }
.icon-apple:before { content: "\e61a"; }
.icon-barcode:before { content: "\e636"; }
.icon-ellipsish:before { content: "\e6ce"; }
.icon-recycle:before { content: "\e7d6"; }
.icon-reorder:before { content: "\e7de"; }
.icon-remove:before { content: "\e7dc"; }
